<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/_layout.html}">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile Page</title>
</head>

<body>
    <li layout:fragment="link-home">
        <a class="nav-link active" th:href="@{/home}">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Home</span></a>
    </li>

    <li layout:fragment="link-order">
        <a class="nav-link" th:href="@{/order}">
            <i class="fas fa-folder"></i>
            <span>Order Jahitan</span></a>
    </li>

    <li layout:fragment="link-status">
        <a class="nav-link" th:href="@{/status}">
            <i class="fas fa-table"></i>
            <span>Status Pesanan</span></a>
    </li>

    <li layout:fragment="link-profile">
        <a class="nav-link active" th:href="@{/profile}">
            <i class="fas fa-user"></i>
            <span>Profile</span></a>
    </li>
    <h1 layout:fragment="heading-name">Change Password</h1>

    <div layout:fragment="content">
        <!-- <h1> ini Halaman Profile </h1> -->

        <div class="col-md-6 col-sm-12 card">
            <form>
                <div class="row justify-content-center mt-3 mx-5">
                    <div class="col-md-8 col-sm-6" style="margin-right: -20px;">
                        <label for="old-password" class="form-label">Old Password</label>
                        <input type="password" class="form-control " id="oldPassword" required/>
                    </div>
                    <div class="col-md-4 col-sm-3 align-self-center" style="margin-top: 40px;"><input type="checkbox" id="showPass" style="margin-right: 5px;">Show Password</div>
                </div>
                <div class="row justify-content-center mt-3 mx-5">
                    <div class="col-md-8 col-sm-6" style="margin-right: -20px;">
                        <label for="newPassword" class="form-label">New Password</label>
                        <input type="password" class="form-control " id="newPassword" required/>
                    </div>
                    <div class="col-md-4 col-sm-3 align-self-center" style="margin-top: 40px;"><input type="checkbox" id="showPass2" style="margin-right: 5px;">Show Password</div>
                </div>


                <div class="row justify-content-center mb-3">
                    <div class="col-md-8 col-sm-6 text-center">
                        <button class="btn btn-primary mt-2" type="submit" id="submitButtonPass">Simpan Pembaruan</button>
                        <!-- <button class="btn btn-success mt-2" type="button" id="editButtonPass">edit</button> -->
                    </div>
                </div>
            </form>
        </div>
    </div>
    <th:block layout:fragment="script_content">
        <script th:src="@{/js/profile/updateAcc.js}"></script>
    </th:block>
</body>

</html>